{{#if userLogged}}
  <div style="width=100vw; text-align: end;">Usuário: {{userLogged.nome}}</div>
  <div style="width=100vw; text-align: end;">Email: {{userLogged.email}}</div>
{{/if}}
<div class="p-3">
  <h1 class="display-4">Bem vindo ao blog do Node!</h1>
  <p class="lead">Este é um blog desenvolvido com Node.js + Express + Handlebars</p>
  <hr class="my-4">
  <p>Aqui você pode ler sobre notícias do mundo da computação</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie sua conta</a>
</div>
<hr>
<h2>Postagens recentes</h2>

{{#each postagens}}
<div class="card mt-4">
  <div class="card-body">
    <h3>{{titulo}}</h3>
    <p>{{descricao}}</p>
    <a href="/postagens/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
    <hr>
    <small>Categoria: {{categoria.nome}}</small>
    <br>
    <small>Data de publicação: {{categoria.date}}</small>
  </div>
</div>

{{else}}
  <h5>Sem postagens</h5>
{{/each}}